.nextTrack {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 50rem;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 0.5rem solid rgb(199, 33, 33);
    border-radius: 1rem;
}

.flex {
    display: flex;
}

img {
    width: 20rem;
    display: inline;
}

h2 {
    margin: 0.5rem 1rem;
    font-size: 2rem;
    text-decoration: underline;
}
@media only screen and (max-width: 700px) {
    .flex {
        flex-direction: column;
    }
    .nextTrack {
        width: fit-content;
    }
}
