.trackCard {
    height: 16rem;
    width: 23rem;
    margin: 0.5rem 2rem 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    border: 0.5rem solid rgb(199, 33, 33);
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(188, 188, 188);
    border-radius: 1rem;
    box-shadow: 0px 5px 18px rgb(71, 71, 71);
}
.trackCard a {
    padding: 0.4rem;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(199, 33, 33);
    border: 0.2rem solid black;
    border-radius: 1rem;
}
.trackCard a:hover {
    background-color: rgb(250, 4, 4);
}
.view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}